/* Generics */

body {
    margin: 0 auto;
}

/* INTESTAZIONE */

header{
    background-color: #404eed;
    
    
}
nav {
    display: flex;
    justify-content: center;
}

.container {
    width: 1400px;
    
}

.row {  
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    width: 100%;
}

.logo {
    height: 50px;
    width: 100px;
    background-color: lightcoral;
}

.menu {
    background-color: beige;
    height: 50px;
    width: 500px;
    
}

.button {
    background-color: rgb(214, 159, 88);
    height: 50px;
    width: 100px;
}

.text {
    margin-top: 150px;
    text-align: center;
}

section {
    
    padding: 60px 60px;
}

.row-container {
    width: 1400px;
    display: flex;

}
.column{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.image{
    width: 600px;
    height: 400px;
    background-color: #292841;
}

.description {
    width: 400px;
    height: 600px;
    background-color: coral;
}

.white{
    background-color: white;
}

.grey{
    background-color: #F6F6F6;
}