/* Generics */

body {
    margin: 0 auto;
}

/* INTESTAZIONE */

header{
    background-color: #404eed;
    
    
}
nav {
    display: flex;
    justify-content: center;
}

.container {
    width: 1400px;
    margin-bottom: 100px;
}

.row {  
    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    justify-content: space-between;
    width: 100%;
}

.logo {
    height: 50px;
    width: 100px;
    background-color: lightcoral;
}

.menu {
    background-color: beige;
    height: 50px;
    width: 500px;
    
}

.button {
    background-color: rgb(214, 159, 88);
    height: 50px;
    width: 100px;
}

.text {
    margin-top: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 30%;
}

section {
     padding: 60px 60px;
}

.row-container {
    width: 1400px;
    display: flex;
    margin: 0 auto;

}
.column{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.column-image, .image{
    width: 60%;
    background-color: #292841;
    height: 600px;
    margin-left: 25px;

    
}

.column-description, .description{
    width: 40%;
    background-color: coral;
    margin-left: 25px;

}


.white{
    background-color: white;
}

.grey{
    background-color: #F6F6F6;
}